body {
    background-color: black;
}

.item {
    border: 2px solid rgb(150, 150, 150);
    border-radius: 15px;
    width: 600px;
    background-color: rgb(158, 180, 200);
}

.list {
    list-style: none;
    margin: 0px;
}

.item-name {
    font-weight: bold;
    margin-left: 15px;
}

.item-description {
    font-style: italic;
    margin-left: 15px;
}