body {
    background-color: rgb(169, 175, 182);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item {
    border: 2px solid rgb(228, 228, 228);
    border-radius: 0px 10px 10px 0px;
    width: 600px;
    background-color: rgb(249, 252, 255);
}

.list {
    list-style: none;
    margin: 0px;
}

.item-name {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
}

.item-label-region {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(169, 175, 182);
    border-radius: 0px 10px 0px 0px;
}

.item-minimize {
    background-image: url('/src/icons/window-minimize.svg');
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.item-maximize {
    background-image: url('/src/icons/window-maximize.svg');
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.item-delete {
    background-image: url('/src/icons/delete.svg');
    width: 20px;
    height: 20px;
}

.item-description {
    font-style: italic;
    margin-left: 15px;
    margin-top: 10px;
}

.item-date {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: rgb(140, 140, 140);
}